.profilePage{
    .images{
        width: 100%;
        height: 300px;
        position: relative;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:last-child{
                width: 200px;
                height: 200px;
                position: absolute;
                z-index: 10;
                border-radius: 50%;
                bottom: -100px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .profileContainer{
        padding: 20px 70px;
        .uInfo{
            height: 180px;
            box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            background-color: white;
            color: #000;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            flex-wrap: wrap;
            h2{
                margin: 20px 0;
                width: 100%;
                text-align: center;
            }
            .center{
            }
            ul{
                display: flex;
                gap: 1rem;
            }
        }
    }
}