.leftBar{
    background-color: #fff;
    overflow: scroll;
    height: calc(100vh - 57px);
    position: sticky;
    top: 57px;

    &::-webkit-scrollbar {
        display: none;
    }
    .container{
        padding: 20px;
        ul{
            span{
                font-size: 14px;
                margin-bottom: 20px;
                display: block;
            }
            li{
                margin-bottom: 20px;
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                display: flex;
                align-items: center;
                gap: 1rem;
                span{
                    font-size: 14px;
                    margin: auto 0;
                }
            }
        }
        hr{
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            background-color: lightgray;
        }
    }
}