.share{
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: white;
    color: #000;
    margin-bottom: 20px;
    .container{
        padding: 20px;
        .top{
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 100%;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }
            input{
                border: none;
                outline: none;
                flex: 1;
            }
        }
        .shareImgContainer{
            padding: 0 20px 10px 20px;
            position: relative;
          }
          
          .shareImg{
            width: 100%;
            object-fit: cover;
          }
          
          .shareCancelImg{
            position: absolute;
            top: 0;
            right: 20px;
            cursor: pointer;
            opacity: 0.7;
          }
        hr{
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            background-color: lightgray;
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                display: flex;
                gap: 1rem;
                input{
                    display: none;
                }
                label{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    cursor: pointer;
                    img{
                        width: 25px;
                        height: 25px;
                    }
                    span{
                        font-size: 12px;
                        color: gray;
                    }
                }
            }
        }
    }
}