*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Open Sans", sans-serif;
  transition: .4s;
}


.theme-dark{
  .post{
    background-color: #000 !important;
    color: #fff !important;
  }
  a{
    color: #fff;
  }
  .profile{
    background-color: #333 !important;
  }
  .profileContainer{
    background-color: #333 !important;

  }
  .homePage{
    background-color: #333 !important;
    .share{
      background-color: #000 !important;
      color: #fff !important;
      input{
        background-color: #000 !important;
      }
    }
  }
  .profilePage{
    background-color: #333 !important;
    .share{
      background-color: #000 !important;
      color: #fff !important;
      input{
        background-color: #000 !important;
      }
    }
  }
  .navbar{
    background-color: #000 !important;
    color: #fff !important;
    h3{
    color: #fff !important;
    }
    input{
      background-color: #000;
    }
  }
  .leftBar{
    background-color: #000 !important;
    color: #fff !important;
  }

  .rightBar{
    background-color: #333 !important;
    color: #fff !important;
    .item{
      background-color: #000 !important;
    }
  }
  .profilePage{
    background-color: #000 !important;
    color: #fff !important;
    .uInfo{
      background-color: #000 !important;
      color: #fff !important;

    }
  }
}

// .theme-light{
//   .post{
//     background-color: #fff !important;
//     color: #000 !important;
//   }
//   a{
//     color: #fff;
//   }
//   .profile{
//     background-color: #000 !important;
//   }
//   .profileContainer{
//     background-color: #333 !important;

//   }
//   .homePage{
//     background-color: #333 !important;
//     .share{
//       background-color: #000 !important;
//       color: #fff !important;
//       input{
//         background-color: #000 !important;
//       }
//     }
//   }
//   .navbar{
//     background-color: #000 !important;
//     color: #fff !important;
//     h3{
//     color: #fff !important;
//     }
//     input{
//       background-color: #000;
//     }
//   }
//   .leftBar{
//     background-color: #000 !important;
//     color: #fff !important;
//   }

//   .rightBar{
//     background-color: #333 !important;
//     color: #fff !important;
//     .item{
//       background-color: #000 !important;
//     }
//   }
//   .profilePage{
//     background-color: #000 !important;
//     color: #fff !important;
//     .uInfo{
//       background-color: #000 !important;
//       color: #fff !important;

//     }
//   }
// }


.infoForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoInput{
  border: none;
  outline: none;
  background-color: var(--inputColor);
  border-radius: 8px;
  padding: 20px;
  flex:1;
}
.button:disabled{
  background: silver;
  pointer-events: none;
}
.infoForm>div{
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton{
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}